
.navbar {
	background-color: #3498DB ;
}

.quem-somos{
	background-color: #AED6F1;
}

.margin{
	padding: 30px;
	margin-top: 10px;
}

.parceiros{
	background-color:#21618C;
}

.bg-footer{
	background-color:#3498DB;
}